#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.container {
  display: grid;
  grid-template-areas:
    "levelup gold"
    "player boss"
    "main main";
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  height: 95vh;
  width: 95vw;
  padding: 10px;
}
.container > div {
  /* Color is here to help keep track of the position of elements. */
  background-color: rgba(255, 71, 71, 0.8);
  padding: 10px;
}
.container > div.levelup {
  grid-area: levelup;
  text-align: left;
}
.container > div.gold {
  grid-area: gold;
  text-align: right;
}
.container > div.player {
  grid-area: player;
}
.container > div.boss {
  grid-area: boss;
  bottom: 0; 
  right: 0;
}
.container > div.main {
  grid-area: main;
  text-align: center;
}

.levelup img {
  width: 10%;
  height: auto;
}

.gold img {
  width: 10%;
  height: auto;
}

.player img {
  width: 10%;
  height: auto;
}

.boss img {
  width: 40%;
  height: auto;
}

.main img {
  width: 80%;
  height: auto;
}