.scale {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
}

.heading {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 70%;
    height: 0%;
    pointer-events: auto;
}

.delete
{
    position: absolute;
    top: 2.5%;
    left: 0%;
    width: 9%;
    height: 9%;
    cursor: pointer;
}

.download {
    position: absolute;
    top: 25%;
    left: 42%;
    width: 38.1%;
    height: 80%;
    cursor: pointer;
}

.upload {
    position: absolute;
    top: 25%;
    left: 5.5%;
    width: 38.1%;
    height: 70%;
    pointer-events: auto;
    cursor: pointer;
}

.cancel-button
{
    position: absolute;
    z-index: 10;
    top: 62%;
    left: 85%;
    width: 13%;
    height: 13%;
    cursor: pointer;
}

.confirm-button
{
    position: absolute;
    z-index: 10;
    top: 32%;
    left: 85%;
    width: 13%;
    height: 13%;
    cursor: pointer;
}

::file-selector-button {
    opacity: 0%;
}

input[type='file'] {
    color: transparent;
}