.scale{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
}

.damage{
    position: absolute;
    top: -0%;
    left: -37%;
    width: 38%;
    height: 75%;
    transform: scale(.35);
    pointer-events: auto;
    cursor: pointer;
}
