.scale{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
}

.shopHeading{
    position: absolute;
    top: 0%;
    left: -6%;
    width: 70%;
    height: 0%;
    pointer-events: auto;
}

.increaseDamage{
    position: absolute;
    top: -0%;
    left: -30%;
    width: 38%;
    height: 75%;
    transform: scale(.35);
    pointer-events: auto;
    cursor: pointer;
}

.damageEnemy{
    position: absolute;
    top: -0%;
    left: -10%;
    width: 38%;
    height: 75%;
    transform: scale(.35);
    pointer-events: auto;
    cursor: pointer;
}

.defeatEnemy{
    position: absolute;
    top: -0%;
    left: 10%;
    width: 38%;
    height: 75%;
    transform: scale(.35);
    pointer-events: auto;
    cursor: pointer;
}
